extends layout
//- 22章イベント編集フォームの実装

block content
  h3.my-3 イベントの編集
  form(method="post", action=`/events/${event.eventId}?edit=1`)
    //- 本当はputメソッドとかの方がいいけど、hmtlのフォームだとできない
    //- 24章 CSRF 脆弱性対策
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.form-group
      label(for="eventName") イベント名
      input(type="text" name="eventName" value=event.eventName)#eventName.form-control
      //-value で今までのデータを入れて、変えたければ入力できるようにしておく
    div.form-group
      label(for="memo") メモ
      textarea(name="memo")#memo.form-control #{event.memo}
    div.form-group
      label 既存のタスク
      ul.list-group
        each task in tasks
          li.list-group-item #{task.taskName}
      label(for="tasks").my-2 タスクの追加 (改行して複数入力してください)
      textarea(name="tasks")#tasks.form-control
    div
      button(type="submit").btn.btn-info 以上の内容でイベントを編集する
  h3.my-3 危険な変更
  form(method="post", action=`/events/${event.eventId}?delete=1`)
    //- 本当はdeleteメソッドの方がいいけど、hmtlのフォームだとできない
    //- 24章 CSRF 脆弱性対策
    input(type="hidden" name="_csrf" value!=csrfToken)
    button(type="submit").btn.btn-danger このイベントを削除する
